@{
    ViewData["Title"] = "Головна";
}

<h2>Головне меню</h2>

<ul>
    <li><a asp-controller="Fraction" asp-action="Index">Калькулятор дробів</a></li>
    <li><a asp-controller="Car" asp-action="Index">Автомобілі</a></li>
</ul>
